{% extends 'base-admin.html.twig' %}

{% block title %}{{titlePage}}{% endblock %}

{% block body %}
 <div class="row">
     <div class="col-lg-12">
         <div class="card">
             <div class="card-header">
                 <h4 class="card-title">A nossa Equipa</h4>
                 <button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target=".newmember-modal">Adicionar Membro</button>
                 <div class="modal fade newmember-modal" tabindex="-1" role="dialog" aria-hidden="true">
                     <div class="modal-dialog modal-lg">
                         <div class="modal-content">
                             <div class="modal-header">
                                 <h5 class="modal-title">Novo Membro</h5>
                                 <button type="button" class="btn-close" data-bs-dismiss="modal">
                                 </button>
                             </div>
                             <form id="addNewTeam" enctype="multipart/form-data">
                             <div class="modal-body">

                                     <div class="mb-3">
                                         <input type="text" name="name-member" class="form-control" placeholder="Nome do Membro">
                                     </div>
                                     <div class="mb-3">
                                         <input type="text" name="function-member" class="form-control" placeholder="Função do Membro">
                                     </div>
                                     <div class="mb-3">
                                         <textarea class="form-control" rows="4" placeholder="Descrição" name="desc-member"></textarea>
                                     </div>
                                     <hr>
                                     <div class="mb-3">
                                         <label>Imagem do Membro</label><br>
                                         <input type="file" name="image-member" placeholder="Imagem do Membro">
                                     </div>
                             </div>
                             <div class="modal-footer">
                                 <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Fechar</button>
                                 <button type="submit" class="btn btn-primary">Guardar</button>
                             </div>
                             </form>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="card-body">
                 <div class="table-responsive">
                     <table class="table table-responsive-md">
                         <thead>
                         <tr>
                             <th><strong>Imagem</strong></th>
                             <th><strong>Nome</strong></th>
                             <th><strong>Função</strong></th>
                             <th><strong>Descrição</strong></th>
                             <th></th>
                         </tr>
                         </thead>
                         <tbody>
                         {% for member in members %}
                         <tr>
                             <td><img class="admin-team-image" src="{{ bo_url }}{{member.image}}"> </td>
                             <td>{{ member.name }}</td>
                             <td>{{member.position}}</td>
                             <td>{{member.description}}</td>

                             <td>
                                 <div class="dropdown">
                                     <button type="button" class="btn btn-danger light sharp" data-bs-toggle="dropdown">
                                         <svg width="20px" height="20px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="5" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="19" cy="12" r="2"></circle></g></svg>
                                     </button>
                                     <div class="dropdown-menu">
                                         <a class="dropdown-item edit-member" href="#" data-team-id="{{ member.id }}">Editar</a>
                                         <a class="dropdown-item delete-member" href="#" data-team-id="{{ member.id }}">Eliminar</a>
                                     </div>
                                 </div>
                             </td>
                         </tr>
                         {% endfor %}
                         </tbody>
                     </table>
                 </div>
             </div>
         </div>
     </div>
 </div>


    <div class="modal fade" id="editMemberModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Editar Membro</h5>
                </div>
                <div class="append-edit-modal-member"></div>



{% endblock %}
{% block javascripts %}
    {{ parent() }}


    <script>
       $('.edit-member').click(function () {
          var memberId = $(this).attr('data-team-id');
            $.ajax({
               type: "POST",
               url: "{{path('admin/app_ourteam_edit_current_member')}}",
               data: ({memberId:memberId}), // serializes the form's elements.
               success: function(data)
               {
                   $('#editMemberModal').modal('show');

                   var nameMember = data.name;
                   var functionMember = data.position;
                   var textMember = data.text;
                   var imageMember = data.image;

                   $('.append-edit-modal-member').append('' +
                       '            <form id="editTeamMember" enctype="multipart/form-data">\n'+
'                    <div class="modal-body">\n'+
'                        <div class="mb-3">' +
 '<input type="hidden" name="teamID" value="'+memberId+'">\n'+
'<input type="hidden" name="fotoExiste" value="'+imageMember+'">'+
'                            <input type="text" name="name-member" class="form-control" value="'+nameMember+'" placeholder="Nome do Membro">\n'+
'                        </div>\n'+
'                        <div class="mb-3">\n'+
'                            <input type="text" name="function-member" class="form-control" value="'+functionMember+'" placeholder="Função do Membro">\n'+
'                        </div>\n'+
'                        <div class="mb-3">\n'+
'                            <textarea class="form-control" rows="4" placeholder="Descrição" name="desc-member">'+textMember+'</textarea>\n'+
'                        </div>\n'+
'                        <hr>\n'+
'                        <div class="mb-3">\n'+
'                            <label>Imagem do Membro</label><br>\n' +
 '                            <img class="admin-team-image editable-admin-image" src="../'+imageMember+'">'+
'                            <input type="file" name="image-member" placeholder="Imagem do Membro">\n'+
'                        </div>\n'+
'                    </div>\n'+
'                    <div class="modal-footer">\n'+
'                        <button type="button" class="btn btn-danger light close-modal-edit" data-bs-dismiss="modal">Fechar</button>\n'+
'                        <button type="submit" class="btn btn-primary">Guardar</button>\n'+
'                    </div>\n'+
'                </form>\n'+
'            </div>\n'+
'        </div>\n'+
'    </div>');



          $("#editTeamMember").submit(function(e) {
            e.preventDefault(); // avoid to execute the actual submit of the form.
            var formData = new FormData(this);

            $.ajax({
                type: "POST",
                url: "{{path('admin/app_ourteam_edit_current_member_save')}}",
                data: formData, // serializes the form's elements.
                contentType: false,
                processData: false,
                success: function(data)
                {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: 'Adicionado',
                        showConfirmButton: false,
                        timer: 2500
                    });

                    setTimeout(function() {
                        location.reload();
                    }, 1000);

                }
            });
        });


                   $('.close-modal-edit').click(function() {
                     $('#editTeamMember').remove();
                   });

                   // Swal.fire({
                   //     position: 'top-end',
                   //     icon: 'success',
                   //     title: 'Adicionado',
                   //     showConfirmButton: false,
                   //     timer: 2500
                   // });

                   // setTimeout(function() {
                   //     location.reload();
                   // }, 1000);

               }
           });

       });

    </script>
    <script>
    $('.delete-member').click(function() {
         var memberId = $(this).attr('data-team-id');

                     Swal.fire({
              title: 'Quer mesmo eliminar o Membro',
              showDenyButton: true,
              showCancelButton: true,
              confirmButtonText: 'Sim',
              denyButtonText: 'Não',
            }).then((result) => {
              /* Read more about isConfirmed, isDenied below */
              if (result.isConfirmed) {
               $.ajax({
               type: "POST",
               url: "{{path('admin/app_ourteam_delete_current_member')}}",
               data: ({memberId:memberId}), // serializes the form's elements.
               success: function(data)
               {

                   Swal.fire({
                       position: 'top-end',
                       icon: 'success',
                       title: 'Eliminado',
                       showConfirmButton: false,
                       timer: 2500
                   });

                   setTimeout(function() {
                       location.reload();
                   }, 1000);

               }
           });


              }
            });




    });
</script>



    <script>
        $("#addNewTeam").submit(function(e) {
            e.preventDefault(); // avoid to execute the actual submit of the form.
            var formData = new FormData(this);

            $.ajax({
                type: "POST",
                url: "{{path('admin/app_ourteam_add_new_member')}}",
                data: formData, // serializes the form's elements.
                contentType: false,
                processData: false,
                success: function(data)
                {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: 'Adicionado',
                        showConfirmButton: false,
                        timer: 2500
                    });

                    setTimeout(function() {
                        location.reload();
                    }, 1000);

                }
            });
        });
    </script>

{% endblock %}