{% extends 'base-login.html.twig' %}

{#{% block title %}Registration!{% endblock %}#}
{% block stylesheets %}
    {{ parent() }}


{% endblock %}

{% block body %}


    <body class="text-center">

    <main class="form-signin">
        <form id="form-signup">
            <img class="mb-4" src="{{ app_logo }}" alt="" width="100" height="100">
            <h1 class="h3 mb-3 fw-normal">Cadastrar</h1>

            <div class="form-floating mt-2">
                <input type="email" class="form-control" id="email-signup" name="email" required>
                <label for="floatingPassword">Email</label>
            </div>

            <div class="form-floating mt-2">
                <input type="text" class="form-control" id="floatingPassword" name="username" required>
                <label for="floatingPassword">Nome</label>
            </div>

            <div class="form-floating  mt-2">
                <input type="text" class="form-control" id="floatingPassword" name="contact-number" required>
                <label for="floatingPassword">Número de contato</label>
            </div>

            <div class="form-floating  mt-2">
                <input type="password" class="form-control" id="floatingPassword" name="password" required>
                <label for="floatingPassword">Password</label>
            </div>

{#            <div class="checkbox mb-3">#}
{#                <label>#}
{#                    <input type="checkbox" value="remember-me"> Remember me#}
{#                </label>#}
{#            </div>#}
            <button class="w-100 btn btn-lg mt-2" type="submit" style="background-color: #1c346c; color: white">Cadastrar</button>
{#            <p class="mt-5 mb-3 text-muted">© 2017–2021</p>#}
        </form>
    </main>





    </body>

{% endblock %}




{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    {{ parent() }}

    {#    <script src="{{ asset('app/assets/js/jquery-3.6.0.min.js') }}"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.11.3/paper-full.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{#    {{ parent() }}#}

    <script>
        document.getElementById('register').addEventListener('click', function () {
            location.replace('/register_costumer');
        })
        document.getElementById('login').addEventListener('click', function () {
            location.replace('/login')
        })

        $("#form-signup").submit(function(e) {
            e.preventDefault(); // avoid to execute the actual submit of the form.
            var form = $(this);

            $.ajax({
                type: "POST",
                url: "/singUp",
                data: form.serialize(), // serializes the form's elements.
                beforeSend: function(){
                    Swal.fire({
                        title: 'Carregando',
                        html: '<span style="font-size: 130px" class="iconify" data-icon="eos-icons:loading"></span>',// add html attribute if you want or remove
                        allowOutsideClick: false,
                        showCancelButton: false,
                        showConfirmButton: false,
                        onBeforeOpen: () => {
                            Swal.showLoading()
                        },
                    });
                },
                success: function(data)
                {
                    if(data.state == "0"){
                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: 'Registrado',
                            text: 'Você será redirecionado a página de login',
                            showConfirmButton: false,
                            timer: 5000
                        });
                        setInterval(function(){
                            location.replace('/login');
                        }, 5000);


                    } else {
                        Swal.fire({
                            position: 'center',
                            icon: 'error',
                            title: 'Email já registrado',
                            text: 'Este endereço de email já está registrado, clique em recuperar senha para recuperar o acesso',
                            showConfirmButton: false,
                            timer: 3000
                        });

                    }

                }
            })
        });

        $("#form-login").submit(function(e) {
            e.preventDefault(); // avoid to execute the actual submit of the form.
            var form = $(this);

            $.ajax({
                type: "POST",
                url: "/singin",
                data: form.serialize(), // serializes the form's elements.
                success: function(data)
                {
                    if(data.state == "0") {

                        location.replace('/');

                    }if(data.state == "1") {
                        Swal.fire({
                            position: 'top',
                            icon: 'error',
                            title: 'Por favor, check Email e Senha',
                            showConfirmButton: false,
                            timer: 5000
                        });
                    }
                }
            });
        });
    </script>

{% endblock %}
