{% extends 'base.html.twig' %}

{% block title %}Hello RepairsAndCustomController!{% endblock %}

{% block body %}
    <!--================ End of Breadcrumb ================-->
    <div class="mad-content no-pd container">
        <div class="row pt-5">

            <!--     barra procurar -->
            <div class="container mb-5">
                <div class="row ">
                    <div class="col-2 border-primary d-none d-xl-block d-xxl-block "></div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                        <div class="form-group d-flex justify-content-center py-1">
                            <input type="text" class="search-bar inputText py-1 col-8" placeholder="Pesquisar...">
                            <button type="submit" class="btn-search-div">
                                <i class="bi bi-search btn-search pt-0 mt-0"></i>
                            </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--     fim barra -->

            <div class="col-1 d-none d-xl-block d-xxl-block">
                <!-- linhas verticais -->
                <div class="container-linhas d-flex flex-column align-items-center ">
                    <div class="line-1 mb-4 mt-2"></div>

                    <div class="icon-1 mb-4">
                        <a class="footer-facebook" target="_blank"><i
                                    class="bi bi-facebook text-black-50 media"></i></a>

                    </div>

                    <div class="line-2 mb-3 mt-2"></div>

                    <div class="icon-1 mb-4">
                        <a class="footer-instagram-link" target="_blank" ><i class="bi bi-instagram text-black-50 media"></i></a>
                    </div>

                    <div class="line-2 mb-3 mt-2"></div>

                    <div class="icon-1 mb-3 mt-2">
                        <a class="footer-youtube" target="_blank"><i class="bi bi-youtube text-black-50 media"></i></a>
                    </div>
                    <div class="line-1 mb-4 mt-2"></div>
                </div>
                <!-- .. -->

            </div>

            <div class="col-lg-7 col-xl-6 col-sm-12 row">
                {#                imagem principal #}
{#                <button type='button' class='prev pull-left col-1'><i class='fa fa-angle-left' aria-hidden='true'></i></button>#}
                <div style="" class="col-10 divMainImage pb-0 mb-3">
                    <img id="mainImage" src="" class="mainImage" alt="product">
                </div>
{#                <button type='button' class='next pull-left col-1'><i class='fa fa-angle-left' aria-hidden='true'></i></button>#}
                <div class="col-12" id="images">

                </div>


            </div>

            <div class="col-lg-5  row h-25">
                <div class="col-lg-12 col-sm-4 ">
                    <h5 class="font-weight-bold justify-content-start zero-height" id="productName">Nome do produto</h5>
                </div>

                <span class="col-lg-9 mt-5 col-sm-3 font-weight-bold justify-content-start zero-height" id="productCode">Código: </span>
                <h5 class="col-sm-3 mt-4  col-lg-3 font-weight-bold justify-content-end zero-height" id="productPrice"></h5>

                <div class="col-12 mt-5">
                    <span id="info">Marca / Categoria / Modelo</span>
                </div>

                <div class="col-12 m-4 container-fluid">
                    <label class="col-lg-12 mt-4 col-sm-6 justify-content-start " style="display: inline; margin-right: 10px;  " for="productQuantity">Quantidade</label>
                    <input id="productQuantity" type="number" class="col-lg-12 col-sm-3 justify-content-end inputText py-1" style="width:130px" value="1">
                </div>

                <div class="col-12  m-1 container-fluid">
                    <label id="productStock" class="col-lg-12 col-sm-6 justify-content-start " style="display: inline; margin-right: 10px; font-size: 14px; color: red" > </label>
                </div>

                <div class="col-12 mt-4 row t-2 p-0">

                    <div class="col-12 mt-4 row" id="colors" >

                    </div>
                </div>

                <div class="col-12 mt-4 row t-2 p-0">
                    <div class="col-12  row" id="sizes">

                    </div>
                </div>
                <div class="row mt-4 justify-content-center ">
                    <div class=" col-12 col-lg-4 p-0 pb-2 m-2">
                        <button class="col-12 btn btn-primary btn-dark " id="addToCart" data-id="{{ productId }}">
                            Adicionar ao carrinho
                        </button>
                    </div>

                </div>

            </div>

            <div class="col-12">
                <p id="productDescription"></p>
            </div>
        </div>

    </div>

    <script src="{{ asset('front/vendors/jquery-3.3.1.min.js') }}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <script>


        getImages();
        getProduct();
        getColors();
        getSizes();
        var stock = 0;
        var grid = false;
        /**
         * Função para buscar as informações do produto
         */
        function getProduct() {
            const productId = {{ productId }}

                $.ajax({
                    type: "POST",
                    url: "{{ path('get_product', {'productId': productId}) }}",
                    success: function (productJson) {
                        $("#productName").text(productJson.name)
                        $("#productPrice").text(productJson.price.toFixed(2) + '€')
                        $("#productCode").text("Código: " + productJson.code)
                        // $("#productDescription").text(productJson.description)
                        $("#productDescription").html(productJson.description)
                        $("#mainImage").attr('src', `/${productJson.image}`)
                        $("#info").text(`${productJson.brandName != null ? productJson.brandName : ''} / ${productJson.categoryName != null ? productJson.categoryName : ''}`)

                        if (!productJson.grid) {
                            grid = false;
                            //$("#productStock").text("Restam " + productJson.stock + " itens no estoque")
                            stock = productJson.stock;
                        }
                    }, error: function (e) {
                        console.log(e)
                    }
                });
        }

        /**
         * Função para buscar as cores do produto
         */
        function getColors() {
            const productId = {{ productId }}
                $.ajax({
                    type: "POST",
                    url: "{{ path('get_colors', {'productId': productId}) }}",
                    success: function (colorsJson) {
                        if (colorsJson.length < 1) {
                            return;
                        }
                        const divColors = document.getElementById('colors');
                        divColors.innerHTML = `<div class="col-12 zero-height">
                        </div>`;
                        for (const color of colorsJson) {
                            divColors.innerHTML += `
                                <div class="col-5 col-lg-3 st text-center" style="border-radius: 50%; border-width: 1px;">

                                    <img class="col-lg-6 col-12 color grid p-2 border border-2" data-id="${color.grid_id}" src="/${color.image_color}"  alt="Gold">
                                <div>
                                                                    <span style="display: block; min-height: 45px">${color.name}</span>

</div>
                                </div>
                            `;
                        }

                        $('.color').click(function () {
                            //remove a classe de todos
                            $('.color.border-primary').removeClass('border-primary');
                            $('.color.active').removeClass('active');

                            //adiciona onde você clicou
                            $(this).addClass('border-primary');
                            $(this).addClass('active');
                        });

                        $('.grid').click(function () {

                            if ($('.size').length > 0 & $('.size.active').length < 1) {
                                return 0

                            }

                            if ($('.color').length > 0 & $('.color.active').length < 1) {
                                return 0;
                            }

                            const colorId = $('.color.active').data('id');
                            const sizeId = $('.size.active').data('id');

                            getGridStock(colorId, sizeId, productId);

                        });


                    }
                });
        }


        /**
         * Função para buscar os tamanhos do produto
         */
        function getSizes() {
            const productId = {{ productId }}
                $.ajax({
                    type: "POST",
                    url: "{{ path('get_sizes', {'productId': productId}) }}",
                    success: function (sizesJson) {
                        if (sizesJson.length < 1) {
                            return;
                        }
                        const divSizes = document.getElementById('sizes');
                        divSizes.innerHTML = `                   <div class="col-12 zero-height">
                        <span>Tamanhos</span>
                    </div>`;
                        for (const size of sizesJson) {
                            divSizes.innerHTML += `
                            <div class="col-5 col-lg-4 border grid inputText border-2 border-dark rounded me-2 p-3 size" data-id="${size.grid_id}" >${size.name}</div>`
                        }

                        $('.size').click(function () {
                            $('.size.active').removeClass('active')
                            $(this).addClass('active');
                        });


                        $('.grid').click(function () {

                            if ($('.size').length > 0 & $('.size.active').length < 1) {
                                return 0

                            }

                            if ($('.color').length > 0 & $('.color.active').length < 1) {
                                return 0;
                            }

                            const colorId = $('.color.active').data('id');
                            const sizeId = $('.size.active').data('id');

                            getGridStock(colorId, sizeId, productId);

                        });


                    }
                });
        }

        function getGridStock(colorId, sizeId, productId) {
            $.ajax({
                type: "POST",
                url: "/check_grid_stock",
                data: {colorId: colorId, sizeId: sizeId, productId: productId},
                success: function (stockJson) {
                    $stockProduct = stockJson.stock;
                    $code = stockJson.code;

                    if(stockJson.code === ''){
                       $code = " ";
                       $stockProduct = 0;
                    }

                    //$("#productStock").text(`Restam ${$stockProduct} itens no estoque!`);
                    $("#productCode").text("Código: " + $code)
                    stock = $stockProduct;
                }
            });
        }
        
        /**
         * Função para buscar os tamanhos do produto
         */
        function getImages() {
            const productId = {{ productId }}
                $.ajax({
                    type: "POST",
                    url: "{{ path('get_product_images', {'productId': productId}) }}",
                    success: function (imagesJson) {

                        const divImages = document.getElementById('images');
                        divImages.innerHTML = ``
                        for (const image of imagesJson) {
                            divImages.innerHTML += `                    <div  class="col-3 img" data-src='/${image.path}'>
                        <img width="100" height="100" class="image" src="/${image.path}" alt="${image.name}">
                    </div>`;
                        }

                        productCarouselImages('images', 4, 1);
                    }
                });
        }

        /**
         *
         * @param {int} id id tag
         * @param {int} size number of columns
         * @param {int} rows number of rows
         */
        function productCarouselImages(id, size, rows) {
            $(function () {

                $(`#${id}`).slick({
                    dots: true,
                    arrows: true,
                    // // appendDots: '.slider-dots',
                    rows: rows,
                    prevArrow: '.prev',
                    nextArrow: ".next",
                    infinite: false,
                    slidesToScroll: size,
                    slidesToShow: size,
                    accessibility: true,
                    variableWidth: false,
                    focusOnSelect: false,
                    centerMode: false,
                    responsive: [
                        {
                            breakpoint: 992,
                            settings: {
                                slidesToScroll: size-1,
                                slidesToShow: size-1
                            }
                        },
                        {
                            breakpoint: 600,
                            settings: {
                                slidesToScroll: size-2,
                                slidesToShow: size-2
                            }
                        }
                    ]
                });

                $('.img').click(function () {
                    $('#mainImage').attr('src', $(this).data('src'))
                })

            });
        }

        /**
         * Evento adicionar ao carrinho
         */
        $('#addToCart').click(function () {

            const productId = $(this).data('id');
            const colorId = $('.color.active').data('id');
            const sizeId = $('.size.active').data('id');
            const productQuantity = $('#productQuantity').val();

            // if(grid) {
            //     getGridStock(colorId, sizeId);
            // }
            // if (stock < productQuantity){
            //     Swal.fire('Estoque indisponível!')
            //     return;
            // }
            const product = {productId: productId, colorId: colorId, sizeId: sizeId, productQuantity: productQuantity}

            addToCart(product);

        });

        /**
         * Evento adicionar ao carrinho
         */
        $('#buyNow').click(function () {

            const productId = $(this).data('id');
            const colorId = $('.color.active').data('id');
            const sizeId = $('.size.active').data('id');
            const productQuantity = $('#productQuantity').val();

            const product = {productId: productId, colorId: colorId, sizeId: sizeId, productQuantity: productQuantity}

            var again = addToCart(product);

            if(again) {
                location.replace('/cart');

            }


        });


        $(".search-bar").keyup(function (e) {
            // $("#products").removeClass("slick-initialized slick-slider");
            // getProducts($('.search-bar').val(), '');
            if (e.key == 'Enter') {

                location.replace(`/store?search=${$('.search-bar').val()}`)
            }

        })


    </script>

{% endblock %}
