{#{% extends 'base-admin.html.twig' %}#}

{#{% block title %}{{ titlePage }}{% endblock %}#}

{#{% block body %}#}

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="row">
                    <form id="form_product" class="row">
                        <div class="col-5">
                            <!-- Tab panes -->

                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade show active" id="first">
                                    <img class="img-fluid product-bo-image" src="{{ bo_url }}{{ product.image }}"
                                         alt="{{ product.image }}">
                                </div>
{#                                <div class="input-group custom_file_input mb-3">#}
{#                                    <div class="form-file">#}
{#                                        <input type="file" name="file"#}
{#                                               class="form-file-input form-control" value="Upload"#}
{#                                               multiple="multiple" id="image">#}
{#                                    </div>#}
{#                                </div>#}
                                <input type="hidden" id="productId" value="{{ product.id }}">
                            </div>
                        </div>
                        <!--Tab slider End-->
                        <div class="col-xl-9 col-lg-6  col-md-6 col-xxl-7 col-sm-12">
                            <div class="product-detail-content">
                                <!--Product details-->
                                <div class="new-arrival-content pr">
                                    <div class="col-9">
                                    <label for="productName">Nome do produto</label>
                                    <br>
                                    <input class="col-9" type="text" name="productName" value="{{ product.name }}">
                                    </div>
                                    <br>

                                    <div class="col-9">
                                        <label for="productCode">Código do produto</label>

                                        <input name="productCode" class="col-9" type="text"
                                               value="{{ product.code }}">
                                    </div>


                                    <br>
                                    <div class="col-3">
                                        <label for="productPrice">Preço do produto</label>

                                        <input name="productPrice" id="productPrice" class="col-9 value" step="any" type="number"
                                               value="{{ product.price }}"> €
                                    </div>
                                    <br>
{#                                    <div class="col-3">#}
{#                                        <label for="productPrice">IVA %</label>#}

{#                                        <input name="productIva" id="productIva" class="col-9 value" step="any" type="number"#}
{#                                               value="{{ product.price }}"> %#}
{#                                    </div>#}
{#                                    <br>#}
{#                                    <div class="col-3">#}
{#                                        <label for="productPriceIva">Valor final com IVA</label>#}

{#                                        <input name="productPriceIva" id="productPriceIva" step="any" class="col-9" type="number"#}
{#                                               value="" disabled> €#}
{#                                    </div>#}
                                    <br>
                                    <div class="col-3">
                                        <span class="col-12">ZoneSoft Código</span>
                                        <select class="select col-12" id="zoneSoftCodes" theme="google" placeholder="Código Zonesoft" name="zonesoftcode" data-search="true">

                                        </select>
                                    </div>
                                    <div class="col-3">
                                        <br>
                                        <button type="button" class="btn btn-primary" id="productGrid">Grade</button>
                                    </div>

                                    <div class="col-3">
                                        <br>
                                        <button type="button" class="btn btn-primary" id="productImages">Fotos</button>
                                    </div>

                                    <br>
                                    <p>Estado: <span class="item">
                                            {% set state = product.state %}
                                            {% if state == 1 %}

                                                <b data-id-product="{{ product.id }}"
                                                   class="state-change alert-success p-2">Ativo</b>
                                            {% else %}
                                                <b  data-id-product="{{ product.id }}"
                                                   class="state-change alert-danger p-2">Desativado</b>
                                            {% endif %}
                                        </span>
                                    </p>
                                    <hr>

                                    <label>Descrição do Produto</label>
                                    <textarea rows="6" class="form-control"
                                              name="productDescription">{{ product.description }}
                                    </textarea>


                                </div>

                            </div>

                        </div>
                        <div class="col-4">
                            <label>Categoria</label><br>
                            <select class="select col-8" theme="google" placeholder="Código Zonesoft" name="categoryId"
                                    data-search="true">
                                {% for category in categories %}
                                    <option {% if product.categoryId == category.id %} selected {% endif %}
                                            value="{{ category.id }}">{{ category.name }}
                                        - {{ category.id }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-4">
                            <label>Marca</label><br>
                            <select required class="select col-8" theme="google" placeholder="Código Zonesoft" name="brandId"
                                    data-search="true">
                                {% for brand in brands %}
                                    <option {% if product.brandId == brand.id %} selected {% endif %}
                                            value="{{ brand.id }}">{{ brand.name }} - {{ brand.id }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <br>

                        <br>

                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-sm mt-5">Salvar</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>
{#{% endblock %}#}


{#{% block javascripts %}#}
{#    {{ parent() }}#}

    <script>
        // calculateIva();
        $('#form_product').submit(function (e) {
            e.preventDefault();

            var fd = new FormData(this);
            // var file = $('#image').prop('files')[0];
            const productId = $('#productId').val();
            // fd.append('file', file);

            fd.append('productId', productId);

            $.ajax({
                type: "POST",
                processData: false,
                contentType: false,
                url: "{{ path('admin/edit_product') }}",
                data: fd, // serializes the form's elements.
                success: function (data) {
                    // Swal.fire({
                    //     position: 'top-end',
                    //     icon: 'success',
                    //     title: 'Adicionado',
                    //     showConfirmButton: false,
                    //     timer: 2500
                    // });

                    $.alert({
                        title: 'Alert!',
                        content: 'Editado!',
                    });

                    setTimeout(function () {
                        location.reload();
                    }, 1000);

                }
            });
        });

        $('#productGrid').click(function () {
            const productId = $('#productId').val();
                    $.confirm({
                        async: true,
                        title: 'Produto Grade',
                        columnClass: 'col-md-8',
                        content: `URL:{{ path('admin/product_grid', {'productId': product.id}) }}`,
                        buttons: {
                            fechar: function () {}
                        }
                    });

            })

        $('#productImages').click(function () {
            const productId = $('#productId').val();
                    $.confirm({
                        async: true,
                        title: 'Produto Grade',
                        columnClass: 'col-md-8',
                        content: `URL:{{ path('admin/product_images', {'productId': product.id}) }}`,
                        buttons: {
                            fechar: function () {


                                    location.reload();

                            }
                        }
                    });

            })


        $('.state-change').click(function () {
            var productId = $(this).attr('data-id-product');
            $.ajax({
                type: "POST",
                url: '{{ path('admin/desactive_active_product') }}',
                data: ({productId:productId}),
                success: function(data)
                {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: 'Estado Atualizado',
                        showConfirmButton: false,
                        timer: 2500
                    });
                    setTimeout(function() {
                        location.reload();
                    }, 2000);
                }
            })
        });

        function calculateIva() {
            const productValue = $('#productPrice').val();
            const iva = $('#productIva').val();

            const productPrice = productValue * (iva / 100 + 1);

            $('#productPriceIva').val(productPrice.toFixed(2));
        }

        $(".value").change(function () {
            calculateIva();

        });

        loadZonesoftCodes();

        function loadZonesoftCodes() {
            var zoneSoftCodeActive = {{ zoneSoftCode }};

            $.ajax({
                type: "POST",
                url: '{{ path('admin/load_zone_soft_codes') }}',
                // data: ({productId:productId}),
                success: function(zoneSoftCodes)
                {
                    var htmlSelect = document.getElementById('zoneSoftCodes');

                    htmlSelect.innerHTML += `<option value="-1" ${-1 == zoneSoftCodeActive ? 'selected' : ''} disabled>Selecione</option>`

                    for (const zoneSoftCode of zoneSoftCodes) {

                        var code = zoneSoftCode.zone_soft_code;
                            htmlSelect.innerHTML += `<option value="${code}" ${code == zoneSoftCodeActive ? 'selected' : ''}>${code}</option>
                        `
                    }

                }
            })
            $(".select").select2();
        }

    </script>

{#{% endblock %}#}