{% extends 'base-login.html.twig' %}

{#{% block title %}Registration!{% endblock %}#}
{% block stylesheets %}
    {{ parent() }}


{% endblock %}

{% block body %}


    <body class="text-center">

    <main class="form-signin">
        <form id="form-reset">
            <img class="mb-4" src="{{ app_logo }}" alt="" width="72" height="57">
            <h1 class="h3 mb-3 fw-normal">Recupera o acesso</h1>

            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com" required>
                <label for="floatingInput">Email</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password" required>
                <label for="floatingPassword">Nova senha</label>
            </div>

            <div class="form-floating">
                <input type="text" class="form-control" id="floatingPassword" name="code" placeholder="Password" required>
                <label for="floatingPassword">Código de recuperação</label>
            </div>


            <button class="w-100 btn btn-lg btn-primary" type="submit">Recuperar</button>

        </form>
    </main>





    </body>

{% endblock %}




{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    {{ parent() }}

    {#    <script src="{{ asset('app/assets/js/jquery-3.6.0.min.js') }}"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.11.3/paper-full.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{#    {{ parent() }}#}

    <script>


        $("#form-reset").submit(function(e) {
            e.preventDefault(); // avoid to execute the actual submit of the form.
            var form = $(this);

            $.ajax({
                type: "POST",
                url: "/reset_password",
                data: form.serialize(), // serializes the form's elements.
                beforeSend: function(){
                    Swal.fire({
                        title: 'Carregando',
                        html: '<span style="font-size: 130px" class="iconify" data-icon="eos-icons:loading"></span>',// add html attribute if you want or remove
                        allowOutsideClick: false,
                        showCancelButton: false,
                        showConfirmButton: false,
                        onBeforeOpen: () => {
                            Swal.showLoading()
                        },
                    });
                },
                success: function(status)
                {
                    if(status) {
                        let timerInterval
                        Swal.fire({
                            title: 'Senha recuperada com sucesso, você será redirecinado para a página de login!',
                            timer: 3000,
                            timerProgressBar: true,
                            didOpen: () => {
                                Swal.showLoading()
                                const b = Swal.getHtmlContainer().querySelector('b')
                                timerInterval = setInterval(() => {
                                    b.textContent = Swal.getTimerLeft()
                                }, 100)
                            },
                            willClose: () => {
                                clearInterval(timerInterval)
                            }
                        }).then((result) => {
                            /* Read more about handling dismissals below */
                            location.replace('/login');
                        })

                    } else {

                            Swal.fire({
                                position: 'top',
                                icon: 'error',
                                title: 'Por favor, check Email e Senha ou código de recuperação',
                                showConfirmButton: false,
                                timer: 5000
                            });

                    }
                }
            });
        });
    </script>

{% endblock %}
