<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="title-base"></title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">


        <link href="{{ asset('front/css/josefin.css') }}" rel="stylesheet" onload="this.media='all'">
        <link href="{{ asset('front/css/materialicons.css') }}" rel="stylesheet" onload="this.media='all'">

        <!--================ Vendor CSS ================-->
        <link rel="stylesheet" href="{{ asset('front/css/fontawesome-all.min.css') }}">
        <link rel="stylesheet" href="{{ asset('front/css/linearicons.css') }}">
        <link rel="stylesheet" href="{{ asset('front/vendors/owl-carousel/assets/owl.carousel.min.css') }}">
        <link rel="stylesheet" href="{{ asset('front/vendors/arcticmodal/jquery.arcticmodal-0.3.css') }}">
        <link rel="stylesheet" href="{{ asset('front/vendors/revolution/css/settings.css') }}">
        <link rel="stylesheet" href="{{ asset('front/vendors/revolution/css/layers.min.css') }}">
        <link rel="stylesheet" href="{{ asset('front/vendors/revolution/css/navigation.min.css') }}">
        <link rel="stylesheet" href="{{ asset('front/css/animate.min.css') }}">
        <!--================ Theme CSS ================-->
        <link rel="stylesheet" href="{{ asset('front/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        <link rel="stylesheet" href="{{ asset('front/css/custom.css') }}">

        <link rel="stylesheet" href="{{ asset('front/css/responsive.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/fontawesome.min.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">

        <link rel="stylesheet" href="{{ asset('css/style-login.css') }}">

        <!--================ Vendor JS ================-->

    {% endblock %}


</head>
<body>

<div class="ordering-frame">
    <button class="close-frame-showing">Fechar</button>
{#    <iframe class="frame-showing" src="{{ path('app_ordering') }}"></iframe>#}
</div>

<div class="mad-preloader"></div>
<div id="mad-page-wrapper" class="mad-page-wrapper">
    <!--================ Search Modal ================-->
    <div class="mad-d-none">
        <div id="search-modal" class="mad-modal mad-modal--search">
            <button type="button" class="arcticmodal-close"><i class="material-icons">close</i></button>
            <h4 class="mad-title">Search</h4>
            <!--================ Search Form ================-->
            <form role="search" method="get" class="mad-searchform">
                <input type="text" name="s" placeholder="Type your keyword here">
                <button type="submit" class="btn btn-style-3"><i class="material-icons">search</i></button>
            </form>
            <!--================ End of Search Form ================-->
        </div>
    </div>
    <!--================ End of Search Modal ================-->

    {% include 'front-header.html.twig' %}
    {% block body %}{% endblock %}
    {% include 'front-footer.html.twig' %}

</div>
</body>

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

    <script src="{{ asset('front/vendors/modernizr.js') }}"></script>
{#    <script src="{{ asset('front/vendors/jquery-3.3.1.min.js') }}"></script>#}
    <script src="{{ asset('front/vendors/jquery.easing.1.3.min.js') }}"></script>
    <script src="{{ asset('front/vendors/jquery.parallax-1.1.3.min.js') }}"></script>
    <script src="{{ asset('front/vendors/monkeysan.jquery.nav.1.0.min.js') }}"></script>
    <script src="{{ asset('front/vendors/monkeysan.validator.min.js') }}"></script>
    <script src="{{ asset('front/vendors/handlebars-v4.0.5.min.js') }}"></script>
    <script src="{{ asset('front/vendors/owl-carousel/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('front/vendors/arcticmodal/jquery.arcticmodal-0.3.min.js') }}"></script>
    <script src="{{ asset('front/vendors/retina.min.js') }}"></script>
    <script src="{{ asset('front/vendors/mad.customselect.js') }}"></script>
{#    <script src="{{ asset('front/vendors/isotope.pkgd.min.js') }}"></script>#}
    <script src="{{ asset('front/vendors/jquery-ui/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('front/vendors/revolution/js/jquery.themepunch.tools.min.js') }}"></script>
    <script src="{{ asset('front/vendors/revolution/js/jquery.themepunch.revolution.min.js') }}"></script>
    <script src="{{ asset('front/js/modules/mad.alert-box.min.js') }}"></script>
    <script src="{{ asset('front/js/modules/mad.newsletter-form.min.js') }}"></script>
    <script src="{{ asset('front/js/modules/mad.sticky-header-section.min.js') }}"></script>
    <script src="{{ asset('front/js/mad.app.js') }}"></script>
    <script src="{{ asset('front/vendors/monkeysan.tabs.min.js') }}"></script>
{#    <script src="{{ asset('js/base.js') }}"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>

        $('.order-frame-btn').click(function () {
            $('.ordering-frame').fadeIn();
            $('body').addClass('scroll-none');
        });

        $('.close-frame-showing').click(function () {
            $('.ordering-frame').fadeOut();
            $('body').removeClass('scroll-none');
        });


        var lastScrollTop = 0;
        $(window).scroll(function(event){
            var st = $(this).scrollTop();




            if(st === 0){
                $('.regularlogo').removeClass('logostslide');
                $('.regularlogo').addClass('logost');
            }else{
                $('.regularlogo').addClass('logostslide');
                $('.regularlogo').removeClass('logost');
            }





        });

        $( document ).ready(function() {
            $.ajax({
                url: '{{ path('admin/get_config') }}',
                type: 'POST',

                success: function (data) {
                    $('#title-base').text(data.companyname)
                    $('#footer-address').text(data.address)
                    // $('#aboutus-hours-open').text(data.hoursopen)
                    $('#footer-copyrights').text(`Developed By intouchbiz.com © ${new Date().getFullYear()} ${data.companyname}.`)
                    $('#header-address').text(data.address)
                    $('#footer-phone1').text(data.phone1)
                    $('#footer-email').text(data.email)
                    $('#footer-email-contact').text(data.emailContact)
                    $('#location').attr('src', data.location)
                    $('#footer-hours-open').text(data.hoursopen)
                    $('#aboutus-hours-open').text(data.hoursopen)
                    $('#header-hours-open').text(data.hoursopen)
                    $('#footer-instagram-link').attr("href",('https://www.instagram.com/'+data.instagram));
                    $('.footer-facebook').attr("href",('https://www.facebook.com/'+data.facebook));
                    $('#footer-tripadvisor').attr("href",(data.tripadvisorlink));
                    // $('#header-hours-open').text(data.hoursopen)
                    $('.footer-youtube').attr("href",('https://www.youtube.com/'+data.youtube));

                    $('#name').text(data.name);


                },
                error: function (e) {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: 'Occoreu erro!',
                        showConfirmButton: false,
                        timer: 2500
                    });
                }
            });

            });
        /**
         *
         * @param {int} id id tag
         * @param {int} size number of columns
         * @param {int} rows number of rows
         */
        function productCarousel(id, size, rows) {
            $(function () {

                $(`#${id}`).slick({
                    dots: true,
                    arrows: true,
                    // // appendDots: '.slider-dots',
                    rows: rows,
                    // prevArrow: '.prev',
                    // nextArrow: ".next",
                    infinite: false,
                    slidesToScroll: size,
                    slidesToShow: size,
                    accessibility: true,
                    variableWidth: false,
                    focusOnSelect: false,
                    centerMode: false,
                    responsive: [
                        {
                            breakpoint: 992,
                            settings: {
                                slidesToScroll: size,
                                slidesToShow: size
                            }
                        },
                        {
                            breakpoint: 600,
                            settings: {
                                slidesToScroll: size,
                                slidesToShow: size
                            }
                        }
                    ]
                });

            });
        }
        loadQuantityProductsCart();
        function loadQuantityProductsCart() {
            $.ajax({
                url: `{{ bo_url }}get_quantity_products_cart`,
                type: 'GET',
                success: function (quantity) {
                    $('#lblCartCount').text(quantity)
                }
            })
        }

        function addToCart(product) {
            if ($('.size').length > 0 & $('.size.active').length < 1) {
                $.alert({
                    title: 'Escolha um tamanho!',
                    content: 'Você deve escolher um tamanho!',
                });
                return;

            }

            if ($('.color').length > 0 & $('.color.active').length < 1) {
                $.alert({
                    title: 'Escolha uma cor!',
                    content: 'Você deve escolher uma cor!',
                });
                return;

            }
// falta verificar
            $.ajax({
                url: `{{ bo_url }}add_product_to_cart`,
                type: 'POST',
                data: {product: product},
                success: function (data) {
                    if(data.status){
                        loadQuantityProductsCart();
                        $.alert({
                            title: 'Sucesso!',
                            content: 'Produto adicionado ao carrinho!',

                        });
                    }else
                    {
                        $.alert({
                            type: 'red',
                            title: 'Falha!',
                            content: 'Quantidade excede estoque!',
                            boxWidth: '400px',
                            useBootstrap: false,
                            containerFluid: false,
                            columnClass: 'col-md-6 col-md-offset-3',
                            backgroundDismiss: true,
                            onClose: function() {
                            },
                            onOpen: function() {
                                $('.jconfirm-content').css('color', 'red');
                            }
                        });
                    }

                }
            })
        }


    </script>


{% endblock %}
</html>
